
    {%extends 'layout.html' %}

    {%block body%}
    <link rel="stylesheet" href="../static/pages/create.css">
    
    <div class="container">
        {% if sucesso %}
        <div class="campo">
            <h2>Local adicionado!</h2>
        </div>
        <div class="voltar">
            <a href="/">Ir para a home</a>
        </div>
        
        {% else %}
        <form method="POST">
            <p class="cidade">Cidade</p>
            <div class="campo">
        
                <input type="text" name="estado" placeholder="Ex: AM" required maxlength="2">
                <label for="estado">Informe o Estado <span>*</span>:</label>
            </div>
        
            <div class="campo">
                <input type="text" name="cidade" placeholder="Ex: Manaus" required>
                <label for="cidade">Informe a cidade <span>*</span>:</label>
            </div>
            
            <div class="campo">
                <input type="text" name="imagem_url" placeholder="Ex: https://www.google.com">
                <label for="imagem_url">URL da imagem da cidade:</label>
            </div>
            <p>Ponto turístico</p>
            <div class="campo">
                <div class="ponto">
                    <ul style="list-style-type: none;">
                        <li>
                            <div class="campo">
                                <input type="text" name="nome-ponto_turistico" required>
                                <label for="nome-ponto_turistico">Nome do local <span>*</span>:</label>
                            </div>
                        </li>
                        <li>
                            <div class="campo">
                                <textarea type="text" name="descricao-ponto_turistico"></textarea>
                                <label for="descricao-ponto_turistico">Descrição:</label>
                            </div>
                        </li>
                        <li>
                            <div class="campo">
                                <input type="text" name="url_imagem-ponto_turistico" placeholder="Ex: https://www.google.com">
                                <label for="url_imagem-ponto_turistico">URL da imagem do local:</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="campo">
                <textarea type="text" name="alimentacao"></textarea>
                <label for="alimentacao">Dica de restaurante:</label>
            </div>
        
            <div class="campo">
                <textarea type="text" name="hospedagem"></textarea>
                <label for="hospedagem">Dica de hospedagem:</label>
            </div>
            <input class='opcao'type="submit" value="Enviar">
        </form>
        {% endif %}
        <script src="../static/input.js"></script>
    </div>

    {% endblock %}