{%extends 'layout.html' %}

{%block body%}
<link rel="stylesheet" href="../static/pages/motivacao.css">

<div class="titulo">
    <h1> 5 Motivos para você Viajar</h1>
</div>

    
    <div class="bloco_texto">   
        <div class="text">
           <span class="spanMotivacao"> 1° Aumenta o seu conhecimento </span><br> <br>&nbsp&nbsp&nbsp&nbspJá pensou em conhecer a história da cidade 
           para onde você pretende viajar? Quais são as comidas típicas do local? Tudo isso pode tornar o momento ainda 
           mais divertido, além de aumentar seu conhecimento, enriquecer sua visão de mundo e ter dar muitas histórias para contar.
           Por vezes, você pode acabar se surpreendendo com os lugares, com o valor histórico dele, principalmente em trilhas ecológicas. <br><br>
           <span class="spanMotivacao">2°Melhora o relacionamento com as pessoas</span><br><br>&nbsp&nbsp&nbsp&nbspViajar diminui no nível de cortisol 
           (hormônio responsável pelo estresse) aumentando a energia e melhora o humor.<br> <br><span class="spanMotivacao">3° Traz benefícios à saúde </span><br><br>&nbsp&nbsp&nbsp&nbsp
           É comprovado, dias de folga são essenciais para manter o corpo e a mente saudáveis!Cito aqui alguns benefícios para a saúde:
            melhora na qualidade do sono; diminui a pressão arterial, o que minimiza o risco de infarto e aumenta a absorção de vitaminas; 
            e mais disposição física.<br> <br><span class="spanMotivacao">  4°Mais tempo com a família</span><br><br> &nbsp&nbsp&nbsp&nbspSe você tem filhos, as viagens de férias são os 
            momentos para aproveitar com eles. A correria do dia a dia faz com que as refeições e as conversas em família sejam mais restritas.
             Passar um tempo com eles, fará com que se reaproximem e fortifiquem os laços afetivos. <br><br> <span class="spanMotivacao">5°Viajar colabora para a sua felicidade</span><br><br>&nbsp&nbsp&nbsp&nbsp
             Viajar quebra a rotina, te faz dar uma pausa, esquecer os problemas, as obrigações do trabalho e tirar um tempo para 
            ficar na companhia de quem você mais ama. Isso te ajuda a manter-se feliz e de bem com a vida.Um estudo da Universidade de Cornell,
             nos Estados Unidos, sugere que apenas o ato de planejar uma viagem é suficiente para aumentar a felicidade de uma pessoa. 
             Ainda segundo o estudo, a expectativa gerada pela chegada das férias é muito maior que a gerada após a aquisição de um bem 
             físico, por exemplo. Ou seja, como todos nós bem sabemos, antes mesmo de viajar você já fica feliz.

            
        </div> 

    </div>        



{% endblock %}
