{%extends 'layout.html' %}

{%block body%}
<link rel="stylesheet" href="../static/pages/sobre.css">


    <div class="titulo">
        <h1>Sobre</h1>
    </div>
 
    <div class="bloco_texto">
        <p class="text">
                Dois pés na estrada e um mundo inteiro para conhecer. Viajar, para nós, é um estilo de vida
            com múltiplas faces. Desde aquela aventura de baixo custo até uma trip com roteiro definido
            e orçamento folgado, viajar é desbravar novos lugares, conhecer novas culturas,
            ritmos, comidas, pessoas ou idiomas. Qualquer que seja o seu estilo, viajar é estar
            aberto ao novo e ao inesperado, até as mudanças de itinerário podem nos levar a experiências
            únicas e viagens ainda mais perfeitas.
            O Nexttravel se dedica a compartilhar experiências, seja atravessando a cidade para descobrir
            os prazeres de novos bairros ou cruzando os pontos cardinais para explorar o Brasil. Nossa missão é
            sair da rotina e partir para uma viagem cheia de descobertas. Não importa se o percurso é longo ou
            curto ou se os desafios são grandes, o que o Nexttravel busca são oportunidades para olhar o
            mundo de forma questionadora e se maravilhar com o beleza de cada lugar. São esses momentos que
            nos inspiram e nos transformam. Te convidamos a sentir o mesmo: viaje mais!
            O Nexttravel é uma comunidade destinada a ajudar viajantes a explorar o mundo dentro das possibilidades
            de cada um, aproveitando a diversidade de cada destino. Para isso, estamos sempre em busca de novos
            lugares, diferentes temas e, claro, histórias de outros desbravadores. Você também pode participar
            enviando comentários aqui , compartilhando suas aventuras.
        </p>
    </div>
{% endblock %}